*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --background: #02040A;
  --frontground: #171B22;
  --font: #fff;
  --borderCol:#b5b5b5;
  --borderRadius: 15px;
  --gap:10px;
  --borderWidth: 1px;
}

body{
  /* todo - change font to link import */
  font-family: 'cascadia code', sans-serif; 
  background-color: var(--background);
  color: var(--font);
}

.app {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  padding: var(--gap) 0;
}

.renderContainer {
  background-color: var(--frontground);
  height: 100%;
  border: var(--borderWidth) solid var(--moverCol);
  border-radius: var(--borderRadius);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.header {
  background-color: var(--frontground);
  background-color: var(--frontground);
  border-radius: 0 0 var(--borderRadius) var(--borderRadius);
  border: var(--borderWidth) solid var(--borderCol);
}

.panal {
  width: 100%;
  height: 100%;
  background-color: var(--frontground);
  border: var(--borderWidth) solid var(--moverCol);
  position: relative;
}

.rightPan {
  border-right: none;
  border-radius: var(--borderRadius) 0 0 var(--borderRadius);
}

.leftPan {
  border-left: none;
  border-radius: 0 var(--borderRadius) var(--borderRadius) 0;
}

.moverV {
  width: var(--gap);
}

.moverH {
 height: var(--gap);
}

