*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  /* todo - change font to link import */
  font-family: 'cascadia code', sans-serif; 
  background-color: rgb(209, 233, 255);
}

.app {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.cubeContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}