@import "tailwindcss";

:root{
  --background: #02040A;
  --frontground: #171B22;
  --font: #fff;
  --borderCol:#747474;
  --borderRadius: 15px;
  --borderWidth: 1px;
  --glowCol:#0080ff;
  --primary:#0080ff
}

body{
  background-color: var(--background);
  color: var(--font);
}