.PanelLabel {
    position: absolute;
    left: 0;
    top: 0;
    padding: var(--gap);
    border-top: 3px solid var(--frontground);
    border-left: 3px solid var(--frontground);
    background-color: var(--background);
    border-radius: var(--borderRadius) 0;
  }